<div>
    <input type="number" [value]="firstOperand" (change)="setFirstOperand($event.target.value)">
    <select [value]="operator" (change)="setOperator($event.target.value)">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input type="number" [value]="secondOperand" (change)="setSecondOperand($event.target.value)">
    <button (click)="calculate()">Calculate</button>
    <p>Result {{result}}</p>
</div>
